html,
body {
  height: 100%;
  background-color: #171717;
}

.header-font {
  font-family: monospace, serif;
}

.header-icon {
  position: relative;
  top: -4px;
}

.darker-background {
  background-color: #171717;
}

.custom-padding {
  padding-left: 5%;
  padding-right: 5%;
}

.search-input-background {
  background-color: #282828;
}

.form-control:focus {
  background-color: #282828;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.custom-card {
  max-width: 15rem;
  border-color: #ffffff;
  border-width: 5px;
}

.custom-card:hover {
  border-color: #ffca2c;
}

.footer-links {
  text-decoration: none;
}

.footer-links:hover {
  color: #cccccc !important;
}

.info-overlay-wrapper {
  max-height: 360px;
}

.info-overlay-wrapper:hover img {
  opacity: 0.1;
  transition: all 500ms;
}

.info-overlay-wrapper:hover .info-overlay {
  opacity: 1;
}

.info-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 500ms;
  padding-top: 20px;
}

.img-stretch {
  height: 100%;
  width: 100%;
}

.overflowing-text {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  /* white-space: nowrap; */
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.movie-details-text {
  font-family: Arimo, Arial, Helvetica, "Lucida Grande", sans-serif;
}
