/* BASE **********************************************************************/
:root {
  --theme-dark-1: #171717;
  --theme-dark-2: #383838;
  --theme-text: #ffffff;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  height: 100%;
  background-color: var(--theme-dark-1);
}

/* HEADER ********************************************************************/
.omdb-navbar {
  background-color: var(--theme-dark-1);
}

.header-font {
  font-family: monospace, serif;
}

.header-icon {
  position: relative;
  top: -2px;
}

/* SEARCH BAR ****************************************************************/
.search-input-background {
  background-color: var(--theme-dark-2);
}

.form-control:focus {
  background-color: var(--theme-dark-2);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

/* MOVIE POSTER **************************************************************/
.darker-background {
  background-color: var(--theme-dark-1);
}

.custom-padding {
  padding-left: 5%;
  padding-right: 5%;
}

.custom-card {
  max-width: 15rem;
  border-color: var(--theme-text);
  border-width: 5px;
}

.custom-card:hover {
  border-color: #ffca2c;
}

.info-overlay-wrapper {
  max-height: 360px;
}

.info-overlay-wrapper:hover img {
  opacity: 0.1;
  transition: all 500ms;
}

.info-overlay-wrapper:hover .info-overlay {
  opacity: 1;
}

.info-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 500ms;
  padding-top: 20px;
}

.img-stretch {
  height: 100%;
  width: 100%;
}

.overflowing-text {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.movie-details-text {
  font-family: Arimo, Arial, Helvetica, "Lucida Grande", sans-serif;
}

.poster-wrapper {
  width: 100%;
  max-width: 320px;
  max-height: 480px;
  aspect-ratio: 2 / 3;
  align-self: flex-start;
}

.poster-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
