name: Build

on:
  push:
    branches: [main]
  workflow_dispatch:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    uses: ./.github/workflows/shared.yml
    with:
      run_checks: true
      deploy_prod: false
      deploy_site: ${{ vars.DEPLOY_SITE }}
    secrets:
      VITE_OMDB_API_KEY: ${{ secrets.VITE_OMDB_API_KEY }}
      NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
